:root{
    --borderColor:#A2BB6C;
    --primaryColor:#262621;
    --mainBorder: 0.1px solid var(--borderColor);
    --secondaryColor:#303127;
    --rounded:10px;
    --teturyColor:#313221;
    --shadow:2px 2px 2px rgba(rgb(10, 10, 10), rgb(26, 26, 26), rgb(20, 20, 20), 0.6);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primaryColor);
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: var(--rounded);
    border: var(--mainBorder);
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    

}

.first-container{
    margin-left: 40px;
    margin-right: 40px;
    margin-top:15px;
}
.circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
#red{
    background-color:#A82020;
}
#yellow{
    background-color:  #978800;
}
#green{
    background-color: #385317;
}
.dots-wrapper{
    display: flex;
    gap: 5px;
}
 
.green-head{
    color: #08A805;
}
.logo{
    font-weight: 200;
    font-family: 'Russo One', sans-serif;
}
.white-head{
    color: white;
}
.featured-wrapper{
    background-color:var(--secondaryColor) ;
    width: 100%;
    border: var(--mainBorder);
    border-radius: var(--rounded);
    height: 500px;
    display: flex;
   
    justify-content: center;
    margin-top:20px;
   gap: 20px;
    box-shadow:var(--shadow);
}
.nav{
    margin-top: 100px;
}
.hero-card{
    width: 30%;
    height: 200px;
    margin-top: 50px;
    background-color: var(--primaryColor);
    border: var(--mainBorder);
    border-radius: var(--rounded);
}
.image{
    width: 100%;
    height:197px;
    border-radius: var(--rounded);
    object-fit: cover;

}
.big-dots-wrapper{
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 20px;
}
.big-dot{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
}
.big-dot:hover{
    border-width:5px;
    width: 40px;
    height: 40px;
}
#big-white{
background-color:rgb(43, 5, 5)
}
#big-green{
    background-color: #1E5209;
}
#big-purple{
    background-color:  #7e4c74;;
    
}
#big-blue{
    background-color: #141333;
    
}
.theme{
    text-align: center;
    font-family:'Russo One', sans-serif;
    color: white;
    font-weight: 200;
    margin-top: 15px;
}
.search{
    width: 100%;
    height: 35px;
    border-radius: var(--rounded);
    margin-top: 20px;
    border-style: none;
    background-color: var(--primaryColor);
    border: var(--mainBorder);
    text-align: center;
}
.cards-sections-wrapper{
    width: 100%;
    background-color: var(--teturyColor);
    border-top: var(--mainBorder);
    margin-top: 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;

    justify-items: center;
    padding-bottom: 100px;
  
    

}
.movie-card{
    background-color: #262621;;
    height: 500px;
    width: 370px;
    border: var(--mainBorder);
    border-radius: var(--rounded);
    margin-top: 50px;
    padding: 15px;
    padding-top: 30px;
}
.image-movie{
    width: 100%;
    height:130px;
    border-radius: var(--rounded);
    object-fit: cover;
    border: var(--mainBorder);
    box-shadow: var(--shadow);

}
p{
font-family: sans-serif;
color: rgb(196, 194, 194);
margin-top: 30px;
line-height: 1.6em;
}
.author{
    margin-top: 30px;
}
.user{
    border-width:5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--mainBorder);
}
.user-wrapper{
    display: flex;
    gap:10px;
    align-items: center;
    margin-top: 60px;
    color: white;
    font-family: sans-serif;
}
.more-btn{
    width:100px;
    height: 30px;
    border: var(--mainBorder);
    box-shadow: var(--shadow);
    border-radius: var(--rounded);
    background-color: var(--teturyColor);
    color: white;
    margin-top: 70px;



}
.more-user-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
@media screen and (max-width: 870px) {
    .featured-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 20px;
        height: auto;
        padding-bottom: 50px;
    }
    .hero-card{
        width: 70%;
        height: 500px;
      
   
    }
    

.search{
    width: 80%;
    height: 35px;
    margin-left:10%;
    margin-right: 10%;
}
.cards-sections-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}
}
@media screen  and (max-width:1150px) {
    .cards-sections-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen  and (max-width:811px) {
    .cards-sections-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}